@mixin defaultContainerMixin {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@mixin containerForThisApp($property, $value) {
  @include defaultContainerMixin;
  #{$property}: $value;
}

#container {
  /* To prevent the searchbar to be hidden in small screens */
  @include containerForThisApp('padding-top', 20px);
  top: 0;
  transform: translateY(0);
}

/* This was the original styling -> temporary replaced to use the containerForThisApp mixing 
/* #container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
} */

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* Table style */
ion-grid {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
  
  ion-row:first-child {
    background-color:  #5a76c2;
    font-weight: bold;
  }
  ion-col {
    border: 1px solid white;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid white;
  }
  
  ion-row:last-child {
    border-bottom: 1px solid white;
  }
}