<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      API de GitHub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">API de GitHub</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <!-- Searchbar in a Toolbar -->
    <!-- debounce is set to 500 to avoid tons of API calls while entering the input -->
    <ion-toolbar color="primary">
      <ion-searchbar type="url" [(ngModel)]="searchTerm" placeholder="Buscar Framework" show-cancel-button="focus" debounce="500" animated="true"></ion-searchbar>
    </ion-toolbar>

    <ion-grid class="ion-margin" *ngIf="frameworks.length == 0">
      <ion-row>
        <!-- Ionic grid is made up of 12 column -->
        <ion-col size="3">Nombre repositorio</ion-col>
        <ion-col size="9">URL</ion-col>
      </ion-row>
      <ion-row *ngFor="let i of [1,2,3,4,5]">
        <ion-col size="3">
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </ion-col>
        <ion-col size="9">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Show placeholder while getting the real data from the API -->
    <ion-grid class="ion-margin" *ngIf="frameworks.length > 0">
      <ion-row>
        <ion-col size="3">Nombre repositorio</ion-col>
        <ion-col size="9">URL</ion-col>
      </ion-row>
      <!-- filter uses ng2-search-filter library -->
      <!-- I will limit it to 10 elements as the initial response is returning tons of frameworks -->
      <ion-row *ngFor="let framework of frameworks | filter:searchTerm | slice:0:10">
        <ion-col size="3">{{ framework.name }}</ion-col>
        <ion-col size="9">{{ framework.url }}</ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-item lines="none">
      <ion-title size="small">Búsqueda limitada a 10 resultados</ion-title>
      <p>Próximamente estará disponible una versión con Infinite Scroll</p>
    </ion-item>
  </div>

</ion-content>
